/* @media screen and (max-width: 600px) {
  .library .song-card {
    box-shadow: 0 0 2px 8px rgba(94, 94, 94, 0.1);
  }
} */

.library {
  padding-top: 16px;
}

.library .section-title {
  padding-left: 16px;
}

@media screen and (max-width: 600px) {
  .library .section-title {
    padding-left: 0px;
  }
}

.login {
  width: 100%;
  height: calc(100vh - 70px);
}

.login-button {
  width: 170px;
  height: 45px;
  /* border-radius: 500px; */
  cursor: pointer;
  border: solid 1px white;
}

.login-button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
