.track {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 100px;
}

.track-lyrics {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.track-lyrics h2 {
  margin-top: 32px !important;
  margin-bottom: 16px !important;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
}

.track-lyrics p {
  color: hsla(0, 0%, 100%, 0.7);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
}
