.navbar {
  width: calc(100% - 60px);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  position: relative;
  background: #090909 !important;
}

.extended .search-box {
  position: absolute;
  left: 250px !important;
}

.textHover:hover {
  background: rgba(0, 0, 0, 0.6) !important;
}

.search-box svg {
  fill: #bdbdbd;
}

.none {
  display: none;
}
