.navbar {
  width: calc(100% - 60px);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  position: relative;
  background: #090909;
  transition: all 0.25s ease-in-out;
}

.extended .search-box {
  position: absolute;
  left: 250px !important;
}

.search-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 364px;
  flex: 0 1 364px;
  position: relative;
}

.search-box-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 364px;
  flex: 0 1 364px;
  position: relative;
  border-radius: 500px;
  padding: 0px 18px;
  height: 40px;
  background: #ffff;
  max-width: 180px;
  max-height: 40px;
}

.search-box input,
.search-box-2 input {
  font-size: 0.875rem;
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts)
  );
  color: inherit;
  border: 0;
  color: #000;
  text-overflow: ellipsis;
  width: 100%;
  border-radius: 500px;
  padding: 6px 18px;
  height: 40px;
}

.textHover:hover {
  /* background: rgba(0, 0, 0, 0.6) !important; */
  color: #b3b3b3 !important;
}

.search-box svg {
  fill: #bdbdbd;
}

.none {
  /* display: none; */
  position: fixed !important;
  background: transparent;
  z-index: 190;
}

.logout {
  transform: translateX("-10px") !important;
}

/* MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation8 MuiPopover-paper  */
.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  background: #282828 !important;
  color: #fff !important;
  box-sizing: border-box !important;
  margin-block: 0px !important;
  font-size: 0.8125rem !important;
  font-weight: 400 !important;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts)
  ) !important;
}

/* // notificaton delete */
.css-1urig74-MuiAvatar-root {
  display: none !important;
}
